@media all and (max-width: 420px) {
    .nav, .logo_second {
        display: none;
    }
    .logo {
        width: 120px;
        height: 38px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        width: 25px;
        height: 22px;
        justify-content: space-between;
        margin-right: 23px;
        cursor: pointer;
    }
    .burger div {
        height: 4px;
        width: 100%;
        background-color: var(--dark__blue);
    }
    .nav_mobile{
        flex-direction: column;
        height: 10em;
        align-self: flex-end;
    }
    .nav_mobile a{
        margin-top: 20px;
    }
    .promo{
        background-image: url('../img/banner_adaptive_1.png');
        width: 100%;
        height: 702px;
        background-repeat: no-repeat;
        margin: 0;
        border-style: cover;
    }
    .promo_wrapper{
        width: 100%;
    }
    .promo_wrapper__title{
        margin-top: 385px;
        font-size: 36px;
    }
    .promo_wrapper__text{
        font-size: 18px;
        width: 80%;
    }
    .courses{
        grid-template-columns: 1fr;
    }
    .promo_second{
        background-image: url('../img/banner_adaptive_2.png');
        margin: 0;
        height: 718px;
        padding: 0 16px;
    }
    .features{
        /* width: 100wh; */
        /* overflow: scroll; */
        grid-template-columns: 1fr;
    }
    .feature_card_first{
        padding-left: 40px;
    }
    .footer{
        flex-direction: column;
        height: 20em;
    }
}