.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    margin-top: 33px;
    margin-bottom: 33px;
    font-family: var(--default__font);
}
.logo{
    background-image: url('../icons/logo.svg');
    height: 58px;
    width: 182px;
    background-size:contain;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    width: 45%;
    justify-content: space-around;
}
.nav__link{
    font-size: 16px;
    color:black;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.5s;
}
.nav__link:hover{
    color: var(--danger__color);
}
.logo_second{
    font-size: 22px;
}